body {
    margin : 0px;
}

* {
    box-sizing : border-box;
}

ul {
    list-style: none;
    padding : 0;
}

nav {
    max-width: 1000px;
    display : flex;
    justify-content: space-between;
    padding : 20px;
}

.mainImage {
    margin: auto;
}

.mainIcon img{
    width: 100px;
}

.subtitle-container {
    padding : 10px 20px;
    background-image : url('mainimage.jpg');
    background-repeat : no-repeat;
    background-size : 100vw 300px;
    background-position : center;
}

.itemList {

}

.itemList {
    display : flex;
    flex-wrap: wrap;

    background : #80FFA8;
}


.item {
    height : 300px;
    width : 300px;
    background : grey;
    margin : 20px;

}






